<footer class="footer__container white-bg">
    <div class="footer__content">
        <p>
            Desenvolvido por <a href="https://www.linkedin.com/in/jkleby/" target="_blank">
                <span class="my-link">
                    João Kleby
                </span>
            </a>
            &copy;
        </p>
    </div>
    <div class="contact__content">
        <h3>Contato:</h3>
        <ul class="contact__list">
            <li class="list__item">
                <a href="https://www.linkedin.com/in/jkleby/" target="_blank" class="contact-link">
                    
                    <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" />
            </a>
        </li>
        <li class="list__item">
            <a href="https://github.com/Kleby" target="_blank" class="contact-link">
                <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
            </a>
        </li>
    </ul>
</div>
</footer>